* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #f2f2f2;
}

ul {
    list-style: none;
}

.wrapper {
    width: 920px;
    height: 445px;
    margin: 100px auto;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .25);
    border-radius: 3px;
    overflow: hidden;
}

.slide-img {
    height: calc(100% - 45px);
    border-radius: inherit;
    display: flex;
    align-items: flex-start;
    transition: transform 0.8s;
}

.slide-menu {
    height: 45px;
    background: url("../img/panel.jpg");
}

.slide-menu>ul {
    height: 100%;
    display: flex;
    justify-content: center;
}

.slide-menu>ul li {
    width: 60px;
}

.slide-menu>ul::after {
    content: '';
    width: 2px;
    background: url("../img/divider.png") no-repeat right;
}

.slide-menu>ul li .thumbnail {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 10px;
    background: url("../img/divider.png") no-repeat left;
}

.slide-menu>ul li:hover {
    cursor: pointer;
    background: url("../img/pic_bg.png") repeat;
}

.slide-menu>ul li.active {
    background: url("../img/active_bg.png") no-repeat right;
}